.todo {
  padding: 28px 40px;

  .topRow {
    position: relative;
  }

  .todoHeading {
    display: inline-block;
  }

  @media (max-width: 600px) {
    padding: 0px;
  }

}

.documentlist {
  max-width: 650;
  min-width: 600px;
}
